<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZipCode to Address</title>
</head>

<body>
    <h1>ZipCode to Address</h1>
    <div id="main">
        <input type="text" id="zipcode" placeholder="郵便番号を入力してください" style="width: 40%;">
        <input type="button" id="search_button" value="検索">
    </div>

    <div id="result"></div>

</body>
<script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>

</html>